<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.imufeng.blog.modular.mapper.BlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.imufeng.blog.modular.entity.Blog">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="content" property="content" />
        <result column="figure_url" property="figureUrl" />
        <result column="is_public" property="isPublic" />
        <result column="is_reward" property="isReward" />
        <result column="us_review" property="usReview" />
        <result column="views" property="views" />
        <result column="applaud" property="applaud" />
        <result column="collect" property="collect" />
        <result column="words" property="words" />
        <result column="password" property="password" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
