html {
  --mf-bg-url: url(assets/bg.webp);
}
html.dark {
  --mf-bg-url: url(assets/bg-dark.webp);
}
.VPHome {
  // 自定义首页背景图
  &::before {
    background-image: var(--mf-bg-url);
    background-size: cover;
    transition: 3s;
  }
  // 定义遮罩样式
  background: radial-gradient(
    ellipse,
    rgba(var(--bg-gradient-home), 1) 0%,
    rgba(var(--bg-gradient-home), 0) 150%
  );
}


main {
  p {
    &:not(li p):not(blockquote p):not(.VPTeamMembersItem p) {
      text-indent: 2em; // 排除li标签下的p标签以及只含有strong标签的p标签
    }
  }
}
:root {
  //...
  --vp-c-brand: var(--vp-c-brand-1);
}

// 配置时间轴样式兼容系统
.timeline-dot .timeline-dot-title {
  color: var(--vp-c-text-1) !important;
}
.timeline-dot::after {
  background-color: var(--vp-c-text-2) !important;
}
.timeline-dot {
  color: var(--vp-c-text-2) !important;
}
.timeline-dot .timeline-dot-title {
  font-size: 18px !important;
}
// 链接 hover 效果
.mf-a-hover:hover {
  color: var(--vp-c-brand-1);
  text-decoration: underline;
  text-decoration-color: var(--vp-c-brand-1);
  text-decoration-style: dashed;
}

.blog-footer {
  // footer 说明
  p:first-child {
    margin-bottom: 10px;
  }

  // 图片黑白效果
  .footer-item img {
    filter: grayscale(100%);
  }

}